.App {
  text-align: center;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: vmin;
  pointer-events: none;
  margin: 2rem;
}

.header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #8218ac;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
